# 가상환경
venv/
__pycache__/
*.pyc
setup.sh

# 환경변수
.env

# 로그
logs/
*.log

# mac
.DS_Store

# user token
config/KIS*

# 설치된 패키지 목록
requirements.txt

# 전략 파일 임시
strategies/

# 지표 데이터 파일 제외
calendar_data.csv